body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.styleClass {
	font-weight: 700;
	color: blue;
	font-family: "Helvetica";
	font-size: 18;
	text-align: center;
}

.logoClass {
	font-family: "Helvetica"
}

.imgjw {
	max-width: 800px;
}

.caption {
	font-size: 10;
	font-style: italic;
}

.flexbox-container {
	display: flex;
	justify-content: center;
}

.flexbox-item{
	width: 500px;
	margin: 10px;
	border: 3px solid #333;
	background-color: #dfdfdf;
}

.flexbox-item-1 {
	min-height: 100px;
	justify-content: center;
}

.flexbox-item-2 {
	min-height: 200px;
}

.flexbox-item-3 {
	min-height: 300px;
}

.padding {
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}